html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font;
  font-size: $font-medium;
  color: $grayishBlue; 
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $grayishBlue;
}

h1 {
  color: $darkBlue;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

}

// Button
button, .button {
  display: inline-block;
  padding: 0.875rem 1.875rem;
  border-radius: 50px;

  cursor: pointer;
  font-size: $font-small;
  font-weight: 700;

  color: $white;
  background: linear-gradient(
    to right, $limeGreen, $brightCyan );
  
  border: none;
  
}

// Visibility
.hide-for-mobile {
  // hide for tablet and down
  @include breakpoint-down('md') {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint-up('lg') {
    display: none;
  }
}
