.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {

    img {
      width: 8.875rem;
      height: auto;
    }

  }

  &__menu {  // Mobile Menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 0.7s ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__links {  // Nav Links
      
    a {
      font-size: $font-small;
      color: $grayishBlue;
      transition: color 0.7s ease-in-out;
      position: relative;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(
            to right, $limeGreen, $brightCyan );
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {  // Call to Action Button
    font-size: $font-small;
    color: $white;
    transition: opacity 0.7s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
