.header {
  nav {
    padding: 24px;
  }

  &__logo {

    img {
      width: 100%;
      height: auto;
    }

  }

  &__menu {  // Mobile Menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {  // Nav Links
      
    a {
      font-size: $font-small;
      color: $darkBlue;
    }
  }

  &__cta {  // Call to Action Button

    font-size: $font-small;
  }
}
