.hero {

    &__image {
      background-image: url('/images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      z-index: 3;
    }

    &__text {

    }

    &__cta {

    }
    
}