.hero {

    &__image {
      background-image: url('/images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 280px;
    }

    &__text {

    }

    &__cta {

    }
    
}